.product-details {
  margin-top: 50px !important;
}

.product-details h1 {
  color: #036080;
}
.product-details img {
  cursor: pointer;
}

.product-details-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-detail-btn {
  background-color: #036080;
  color: white;
  border-color: #036080;
}

.product-detail-btn:hover {
  background-color: rgb(4, 76, 100);
  color: white;
}

.product-details-info p {
  margin-bottom: 20px !important;
}

.product-details-content {
  position: relative;
}

.product-details-content .like-button {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 25px;
  margin: 0 !important;
}

.product-details-content p span {
  font-weight: bold;
  color: #036080;
}

.similar-products .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}

.similar-products .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.similar-products .card-price {
  color: green;
  font-weight: 600;
}

.similar-products button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  border-color: #036080;
}

.similar-products .card-text {
  color: rgb(90, 89, 89);
  font-size: 16px;
}

.similar-products .card {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.similar-products .card-title {
  font-weight: 500;
  color: #036080;
}

.similar-products .card:hover {
  transform: scale(1.02);
}

.similar-products .card-img-top {
  height: 300px !important;
}

.similar-product-card {
  margin: 1rem 2.5rem;
}

/* Reviews */

.reviews {
  margin-top: 50px !important;
}
.reviews h2,
.similar-products h2 {
  color: rgb(3, 96, 128);
  font-weight: bold;
  text-align: center;
  opacity: 0.7;
}

.review-box {
  /* background-color: rgb(3, 96, 128, 0.2); */
  background-color: rgba(6, 140, 185, 0.2);
  border-radius: 15px;
  padding: 20px;
  color: rgb(2, 76, 101);
  margin: 2.2rem 2.4rem;
  cursor: pointer;
}

.review-btn {
  background-color: rgb(1, 110, 147);
  color: white;
  border-color: #036080;
}

.review-btn:hover {
  background-color: rgb(20, 123, 158);
  color: white;
}

.review-form input,
.review-form textarea {
  border: 1px solid rgb(5, 121, 160);
}

.review-form label {
  color: rgb(5, 121, 160);
  font-weight: bold;
  margin-bottom: 10px;
}

.similar-products {
  margin-top: 50px !important;
}

.login-msg {
  color: rgb(237, 36, 36);
  font-weight: bold;
  text-align: center;
  opacity: 0.9;
  font-size: 20px;
  margin-top: 20px;
}
