.wishlist-container {
  margin-top: 30px;
}

.wishlist-container h1,
.wishlist-container .wishlist-message {
  color: #055069;
  text-align: center;
}

.wishlist-card {
  padding: 0;
  cursor: pointer;
  margin: 10px;
}

.card-body p,
.card-body h5 {
  color: #055069;
}
